@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* 

Borda Azul body
Borda amarela headerInfos
borda branca headerContent

*/

@font-face{ 
  /*Caso a fonte esteja dentro de uma pasta*/
   src: url("./fontes/eyesome-regular.otf");
   font-family: Eyesome;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Marcellus", serif;
  
}
a {
  text-decoration: none;
  color: white;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  /* border: 1px solid rgb(47, 0, 255); */
  background-image: url('./img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* HeaderInfos */
#headerInfos {
  display:flex;
  /* border: 1px solid rgb(72, 255, 0); */
}
#rowHeaderInfo{
  display: flex;
  align-items: center;
}
#infos {
  height: 100%;
  
  margin-left: 0px;
}
#logo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img{
  border-radius: 50%;
}
#headerInfos #infos {
  height: 100%;
  display:flex;

}
#listaInfos {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}
#listaInfos li {
  float: left;
  display: flex;
  align-items: center;
}


#listaInfos li a {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0 20px;
  position: relative;
  border-radius: 10px;
  position: relative;
}
#listaInfos li a:hover {
  background-color: rgb(255, 255, 255);
  /* top: -5px; */
  /* border-bottom: 5px; */
  border-bottom: 1px solid black;
  color: black;
}

/* FIM HeaderInfos */

/* header Product Content */
#sucesso{
  color: rgb(226,170,68);
  font-family: Eyesome;
}

#headerProductContent #colContent,
#colContentImg {
  /* border: 1px solid rgb(230, 223, 223); */
}

#colContent {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  /* background: linear-gradient(60deg, black,#5A5A5A ); */
 }

#colContent h1 {
  font-size: 5.7vw;
  text-align: left;
  /* background-color: rgb(228, 228, 228); */
  padding: 5px 5px 0px 5px;
  font-family: Eyesome;
}
#colContent h1 i {
  color: black;
}
#colContent h1 #ph1 {
  text-align: left;
  font-size: 2rem;
  color: white;
}
#colContent p {
  text-align: left;
  font-size: 1.5rem;
  color: rgb(170, 165, 165);
  font-weight: bold;
}
#colContent #precopromocao {
  font-size: 1.3rem;
}
#precopromocao span,
s {
  text-align: left;
  font-size: 2rem;
  color: white;
}
#precopromocao #precoalto s {
  font-size: 1.4rem;
}
#btnComprar {
  display: flex;
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  border: 2px solid black;
}
#btnComprar a {
  font-size: 2rem;
}

#btnComprar:hover {
  top: -5px;
  right: -5px;
}

#colContentImg {
  display: flex;
  align-items: center;
}
#colContentImg img {
  width: 100%;
  height: 30rem;
}
/* Fim header Product Content */

/* Estratégias */
#colEstrategias {
}

#divListaEstrategias .card h3 {
  font-size: 1.8rem;
  text-align: center;
}
#divListaEstrategias .card p {
  font-family: "Crimson Text", serif;
  font-size: 0.8rem;
  text-align: left;
}

#divListaEstrategias ul {
  justify-content: space-evenly;
  display:flex;
  flex-wrap:wrap;
  list-style: none;
}
#divListaEstrategias ul li {
  display: flex;
  justify-content: space-evenly;
}
#divListaEstrategias ul h1 {
  font-size: 2.9rem;
  text-align: center;
}
/* Fim Estratégias */
@media only screen and (max-width: 750px) {
  /* headerInfos */
  #rowHeaderInfo {
    display: flex;
    flex-wrap: wrap;
  }
  #infos {
    width: 100%;
  }
  #logo {
    width: 100%;
    margin-bottom: 1rem;
  }
  /* FIM headerInfos */

  /* headerProductContent */
  #colContent {
    width: 100%;
  }
  #colContentImg {
    width: 100%;
  }
  #colContent h1 {
    text-align: center;
    font-size: 2.8rem;
    /* background-color: rgb(228, 228, 228); */
    padding: 5px;
  }
  #colContent h1 #ph1 {
    text-align: center;
    font-size: 1.2rem;
    color: white;
  }
  #colContent p {
    text-align: center;
    font-size: 0.9rem;
    color: rgb(170, 165, 165);
  }

  #colContentImg img {
    height: 20rem;
  }
  /* FIM headerProductContent */

  #divListaEstrategias .card {
    width: 15rem;
  }
}
